<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel app</title>
</head>
<body>
        <div class="container">   
       
   
    <div class="container_content"> 

        <h1 class="travel_app_headline"> 
            Travel App

        </h1>

            <label>
                
                    City name
                <input type="text" id="input" placeholder="eg. Riyadh"> 
            
            
            </label>
               <label>
             Date
                <input type="text" id="input2" value="" placeholder="YYYY-MM-DD"> 
            </label>
                <input type="submit" class="submitButton" value="generate" id="generate">


        <h2 id="dest">  </h2>
        <h3 id="daysUntil">  </h3>
        <div id="currentTemp"> </div>
        <div id="countryCode"> </div>
        <img id="imgOfCity" width="130" height="130">
    </div> 
    <div class="breif_description">
         
       
        <p> 
            Made with love! naif alotaibi E>
        </p>

    </div> 
    </div>
          <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

</body>
</html>
